.custom-link {
  padding: 0;
  margin: 0;
  border: none;

  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  transition: opacity var(--out-duration) linear;
}

.custom-link:disabled {
  cursor: default;
  opacity: .4;
}

.custom-link_type_accent {
  color: var(--ui-accent-color);
}

.custom-link_type_attention {
  color: var(--attention-color);
}

@media(any-hover: hover) {
  .custom-link:hover {
    opacity: .7;

    transition: opacity var(--in-duration) linear;
  }

  .custom-link:disabled:hover {
    opacity: .4;
  }
}
